.select-container {
  @extend .position-relative;
  @extend .rounded-small;
  @extend .text-left;
  @extend .border-1;
  @extend .border-solid;
  @extend .border-light-500;
}

.select-selected-value {
  @extend .grow-1;
}

.select-input {
  @extend .flex;
  @extend .p-0\.5;
  @extend .align-center;
  @extend .justify-between;
  @extend .user-select-none;
}

.select-menu {
  @extend .position-absolute;
  @extend .border-1;
  @extend .border-solid;
  @extend .border-light-500;
  @extend .rounded-small;
  @extend .bg-white;
  @extend .overflow-auto;
  transform: translateY(4px);
  width: 100%;
  max-height: 150px;
}

.select-menu-item {
  @extend .cursor-pointer;
  @extend .p-0\.5;
}

.select-menu-item:hover {
  @extend .bg-light;
}

.select-menu-item.selected,
.select-menu-item.selected:hover {
  @extend .bg-primary;
  @extend .text-white;
}

.select-tags {
  @extend .flex;
  @extend .f-wrap;
}

.select-tag-item {
  @extend .bg-light;
  @extend .rounded-small;
  @extend .flex;
  @extend .align-center;
  @extend .px-0\.5;
  @extend .py-0\.25;
  @extend .mr-0\.25;
}

.select-tag-close {
  @extend .flex;
  @extend .align-center;
}

.select-search {
  @extend .p-0\.5;
  @extend .bg-light;
}
