// Define your border style options
$border-styles: (
  "solid": solid,
  "dashed": dashed,
  "dotted": dotted,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
  "none": none,
);

// Define your border width options
$border-widths: (
  "0": 0,
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
);

$border-sides: (
  "top",
  "left",
  "right",
  "bottom"
);

// Define your border radius options
$border-radii: (
  "none": 0,
  "small": 0.2rem,
  "medium": 0.4rem,
  "large": 0.6rem,
  "xl": 1rem,
  "full": 9999px, // Use a large value for a circle
);


$border-radius-directions: (
  "top-left",
  "top-right",
  "bottom-left",
  "bottom-right"
);

// Mixin to generate utility classes
@each $style, $value in $border-styles {
  .border-#{$style} {
    border-style: #{$value};
  }

  @each $side in $border-sides {
    .border-#{$side}-#{$style} {
      border-#{$side}-style: #{$value};
    }
  }  
}

@each $width, $widthValue in $border-widths {
  .border-#{$width} {
    border-width: #{$widthValue};
  }

  @each $side in $border-sides {
    .border-#{$side}-#{$width} {
      border-#{$side}-width: #{$widthValue};
    }
  }
}

@each $radius, $radiusValue in $border-radii {
  .rounded-#{$radius} {
    border-radius: #{$radiusValue};
  }

  @each $size, $size-value in $border-radii {
    @each $direction in $border-radius-directions {
      .rounded-#{$direction}-#{$size} {
        border-#{$direction}-radius: $size-value;
      }
    }
  }
}

$outline-widths: (
  thin: 1px,
  medium: 2px,
  thick: 4px
);

// Define outline style values in a map
$outline-styles: (
  solid,
  dashed,
  dotted,
  double
);

.outline-none {
  outline: 0;
}

// Loop through the maps to generate utility classes
@each $width, $width-value in $outline-widths {
  @each $style in $outline-styles {
    .outline-#{$style}-#{$width} {
      outline: $width-value $style;
    }
  }
}
