@use "sass:color";

.border-0 {
  border: 0;
}

.border-1 {
  border-width: 1px;
}

$border-types:(
  solid,
  dashed,
);

@each $type, $class in $theme-colors {
  .border-#{$type} {
    border-color: $class;
  }

  .border-#{$type}-300 {
    border-color: color.scale($class, $lightness: -30%)
  }
}

@each $type in $border-types {
  .border-#{$type} {
    border-style: $type;
  }
}

.rounded {
  border-radius: $border-radius;
}
