.border-0 {
  border: 0;
}

.border-1 {
  border-width: 1px;
}

$border-types:(
  solid,
  dashed,
);

@each $type in $border-types {
  .border-#{$type} {
    border-style: $type;
  }
}

.rounded {
  border-radius: $border-radius;
}
