@use "sass:string";

$spacing-sides : (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
  "x": "left-right",
  "y": "top-bottom",
  "xy": "all",
);

/* Padding */
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@for $i from 1 through 100 {
  $smallSize: calc($i * 0.25);
  $remValue: ($smallSize * 1rem);
  $escapedStr: str-replace($smallSize + '', '.', \.);
  @each $side, $value in $spacing-sides {
    @if ($value == "top")  {
      .p#{$side}-#{$escapedStr} {
        @include padding-top($remValue)
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-top($remValue)
      }
    } @else if ($value == "right") {
      .p#{$side}-#{$escapedStr} {
        @include padding-right($remValue)
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-right($remValue)
      }
    } @else if ($value == "bottom") {
      .p#{$side}-#{$escapedStr} {
        @include padding-bottom($remValue)
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-bottom($remValue)
      }
    } @else if ($value == "left") {
      .p#{$side}-#{$escapedStr} {
        @include padding-left($remValue)
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-left($remValue)
      }
    } @else if ($value == "top-bottom") {
      .p#{$side}-#{$escapedStr} {
        @include padding-top($remValue);
        @include padding-bottom($remValue);
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-top($remValue);
        @include margin-bottom($remValue);
      }
    } @else if ($value == "left-right") {
      .p#{$side}-#{$escapedStr} {
        @include padding-right($remValue);
        @include padding-left($remValue);
      }
      .m#{$side}-#{$escapedStr} {
        @include margin-right($remValue);
        @include margin-left($remValue);
      }
    } @else {
      .p-#{$escapedStr} {
        @include padding($remValue)
      }
      .m-#{$escapedStr} {
        @include margin($remValue)
      }
    }
  }
}

.mx-auto {
  margin: 0 auto;
}
.my-auto {
  margin: auto 0;
}