@each $type, $class in $theme-colors {
	.alert-#{$type} {
		background-color: $class;
		border: 1px solid darken($class, 15%);
		border-radius: 5px;
		margin: 1rem 0;
		padding: 1rem;
		opacity: 0.85;
    @include text-color($type);
 
		& span {
			font-weight: bold;
		}
	}
}
