.btn-group {
  >:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  >:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn {
	border-radius: $border-radius;
	border-style: solid;
	padding: 0.5rem 1rem;
	text-decoration: none;
	outline: none;
	display: inline-block;
  cursor: pointer;
}

.btn-sm {
	font-size: 0.75rem;
}

.btn-lg {
	font-size: 1.25rem;
}

@mixin text-color($val) {
  @if ($val == 'light') {
    color: var(--dark-color);
  }
  @else if ($val == 'white') {
    color: var(--dark-color);
  }
  @else if ($val == 'muted') {
    color: var(--dark-color);
  }
  @else if ($val == 'lightest') {
    color: var(--dark-color);
  }
  @else {
    color: var(--white-color);
  }
}

@each $type, $class in $theme-colors {
	.btn-#{$type} {
		background-color: $class;
		border-color: $class;
    @include text-color($type);

		&:hover,
		&:focus,
		&:active {
			background-color: darken($class, 15%);
			border-color: darken($class, 15%);
		}
	}
}
