@use "sass:color";

@each $type, $class in $theme-colors {
	.link-#{$type} {
		color: $class;
		&:hover,
		&:focus,
		&:active {
			color: darken($class, 15%);
      cursor: pointer;
		}
	}
	@if ($type == "dark") {
		.link-#{$type} {
			color: $class;

			&:hover,
			&:focus,
			&:active {
				color: lighten($class, 45%);
			}
		}
	}

  .text-#{$type} {
    color: $class;
  }
}
