@import "./rfs.scss";

@mixin text-color($val) {
  @if ($val == 'light') {
    color: var(--dark-color);
  }
  @else if ($val == 'white') {
    color: var(--dark-color);
  }
  @else if ($val == 'muted') {
    color: var(--dark-color);
  }
  @else if ($val == 'lightest') {
    color: var(--dark-color);
  }
  @else {
    color: var(--white-color);
  }
}

