$font-family-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-family-serif: system-ui, sans-serif;

$no-of-columns: 12;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$break-points: (
  "sm": $sm,
  "md": $md,
  "lg": $lg, 
  "xl": $xl,
);

$theme-sizes:( 
  "tiny",
  "small",
  "medium",
  "large",
);


$border-radius: .25rem;
